{% extends 'base.html' %}
{% load static %}
{% block title %}
  Кабинет {{ user }}
{% endblock %}

{% block content %}

{% include '../includes/breadcrumb.html' with second_level=breadcrumbs.title_second %}

<section class="section-cabinet pb-3">
	<h1 class="text-center fw-light">
		{{ user.get_full_name }}
	</h1>
	<div class="d-grid gap-2 col-6 mx-auto my-5">
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 text-center">
			<div class="">
				<a href="{% url 'office:journals' %}" class="text-decoration-none text-reset">
					<div class="p-3 card-in-cabinet">
						<img src="{% static 'img/journal.png' %}" class="card-img-top" alt="journals">
						<div class="card-title">
							Журналы
						</div>
					</div>
				</a>
			</div>
			<div class="">
				<a href="{% url 'office:brigades' %}" class="text-decoration-none text-reset">
					<div class="p-3 card-in-cabinet">
						<img src="{% static 'img/brigade.png' %}" class="card-img-top" alt="brigade">
						<div class="card-title">
							Бригады
						</div>
					</div>
				</a>
			</div>
			<div class="">
				<a href="{% url 'office:employees' %}" class="text-decoration-none text-reset">
					<div class="p-3 card-in-cabinet">
						<img src="{% static 'img/employees.png' %}" class="card-img-top" alt="employees">
						<div class="card-title">
							Сотрудники
						</div>
					</div>
				</a>
			</div>
			<div class="">
				<div class="p-3 card-in-cabinet-disabled" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Упс! Раздел в разработке">
					<img src="{% static 'img/power_station.png' %}" class="card-img-top" alt="power_station">
					<div class="card-title">
						Паспорта объектов
					</div>
				</div>
			</div>
			<div class="">
				<div class="p-3 card-in-cabinet-disabled" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Упс! Раздел в разработке">
					<img src="{% static 'img/workwear.png' %}" class="card-img-top" alt="workwear">
					<div class="card-title">
						СИЗ
					</div>
				</div>
			</div>
			<div class="">
				<div class="p-3 card-in-cabinet-disabled" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Упс! Раздел в разработке">
					<img src="{% static 'img/catalog.png' %}" class="card-img-top" alt="catalog">
					<div class="card-title">
						Справочники
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
