{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}
{% block title %}
  Сотрудники
{% endblock %}
{% block content %}
<br>
<h1 class="text-center fw-light">Сотрудники</h1>
<h2 class="text-center fw-light">{{ energy_district }}</h1>
<div class="row row-table-employees">
  <div class="col-6 col-md-3">
    <div class="card">
      <div class="card-header ">Фильтрация</div>
      <div class="card-body">
        {% if filter %}
          <form action="" method="get" class="form form-floating ">
            {% bootstrap_form filter.form layout="floating" %}
            <div class="text-center">
            {% bootstrap_button button_type="submit" button_class="btn-outline-dark" content="Применить" %}
            </div>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card">
        <div class="card-body">
            {% render_table table %}
        </div>
    </div>
  </div>
</div>
{% endblock %}