{% extends 'base.html' %}
{% block content %}


{% if not user.is_authenticated %}
<div class="d-grid gap-2 col-2 mx-auto" style="width: 200px;">
  <br>
  <a class="btn btn-outline-dark btn-lg" href="{% url 'login' %}" role="button">Войти</a>
  <a class="btn btn-outline-dark btn-lg" href="{% url 'users:signup' %}" role="button">Регистрация</a>
</div>
{% else %}
<p>
<div class="d-grid gap-2 col-6 mx-auto">
  <a class="btn btn-outline-dark fs-1" href="{% url 'office:cabinet' user.username %}">В КАБИНЕТ</a>
</div>
</p>
{% endif %}
{% endblock content %}
