{% extends 'base.html' %}

{% block content %}

{% if not user.is_authenticated %}
<div class="container d-grid gap-2 col-2 mx-auto">
  <br>
  <a class="btn btn-outline-dark btn-lg" href="{% url 'login' %}" role="button">Войти</a>
  <a class="btn btn-outline-dark btn-lg" href="{% url 'users:signup' %}" role="button">Регистрация</a>
</div>
{% else %}
<p>
<div class="d-grid gap-2 col-4 mx-auto" style="padding-top: 15%;">
  <a class="btn btn-outline-dark fs-1" href="{% url 'office:cabinet' %}">В КАБИНЕТ</a>
  {% if user.is_staff or user.is_superuser %}
  <a class="btn btn-outline-dark fs-1" style="margin-bottom: 30%;" href="{% url 'admin:index' %}">Администрирование</a>
{% endif %}
</div>
</p>
{% endif %}
{% endblock content %}
