{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}

{% url 'office:journal_order' as reset_filter %}
{% url 'office:create_post_order' as create__new_post_url %}

<section class="section-journal_order">
	<div class="row">

		{% include 'office/includes/filter-sidebar.html' with journal_order=True create__new_post_url=create__new_post_url reset_filter=reset_filter %}

		<div class="col-10">
			{% include '../includes/breadcrumb.html' with inside_journal=True second_level=breadcrumbs.title_second second_level_href=breadcrumbs.url.second_level_href third_level=breadcrumbs.title_third third_level_href=breadcrumbs.url.third_level_href fourth_level=breadcrumbs.title_current %}
			
			{% include 'office/includes/messages.html' %}

			<div>
				<h1 class="text-center fw-light">
					{{ title }}
				</h1>
				<h2 class="text-center fw-light">
					{{ energy_district }}
				</h2>
			</div>

			<div class="row row-table-posts-order my-5">
				<div class="col-12">
					{% render_table table %}
				</div>
			</div>

			{% if not posts and request.GET %}
				<p class="text-center fs-2">
					Совпадений не найдено.
				</p>
			{% endif %}

			{% include 'includes/arrow-up.html' %}

		</div>
	</div><!-- row -->
</section>

{% endblock content %}