{% extends 'base.html' %}

{% load static %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}

{% url 'office:journal_walk' district.slug as reset_filter %}
{% url 'office:create_post_walking' district.slug as create__new_post_url %}

<section class="section-journal_walk">
	<div class="row">

		{% include 'office/includes/filter-sidebar.html' with create__new_post_url=create__new_post_url reset_filter=reset_filter %}

		<div class="col-10">
			{% include '../includes/breadcrumb.html' with inside_journal=True second_level=breadcrumbs.title_second second_level_href=breadcrumbs.url.second_level_href third_level=breadcrumbs.title_third third_level_href=breadcrumbs.url.third_level_href fourth_level=breadcrumbs.title_fourth fourth_level_href=breadcrumbs.url.fourth_level_href fifth_level=breadcrumbs.title_current %}

			{% include 'office/includes/messages.html' %}

			<div class="my-4">
				<h1 class="text-center fw-light">
					{{ title }}
				</h1>
				<h2 class="text-center fw-light">
					{{ district }}
				</h2>
			</div>

			{% if page_obj %}				
				{% for post in page_obj %}
					<div class="card card-post-walk-in-list shadow border-0">
						<div class="card-body fs-4">
							<table class="table table-hover">
								<caption>Автор: {{ post.author.get_full_name }} ({{ post.author }})</caption>
								<thead>
									{% if post.is_deleted %}
										<span class="border border-danger">ЗАПИСЬ ПОМЕЧЕНА НА УДАЛЕНИЕ</span>
									{% endif %}
								</thead>
								<tbody>
									<tr>
										<td class="fs-5">Номер записи:</td>
										<td class="fs-4">{{ post.number_post }}</td>
									</tr>
									<tr>
										<td class="fs-5">Дата обхода:</td>
										<td class="fs-4">{{ post.walk_date|date:"d.m.Y" }}</td>
									</tr>
									<tr>
										<td class="fs-5">Причина обхода:</td>
										<td class="fs-5">{% if post.planned %} Плановый {% endif %}{% if post.not_planned %} Внеплановый {% endif %}</td>
									</tr>
									<tr>
										<td class="fs-5">Ф.И.О. обходчиков:</td>
										<td>
											<ol class="list-group list-group-flush">
												{% for member in post.members.all %}
													<li class="list-group-item fs-5">{{ member }}</li>
												{% endfor %}    
											</ol>
										</td>
									</tr>
									<tr>
										<td class="fs-5">Участок теплотрассы, задание мастера:</td>
										<td class="fs-5">{{ post.task|truncatechars:15 }}</td>
									</tr>
									<tr>
										<td class="fs-5">Замечания, выявленные при обходе:</td>
										<td class="fs-5">{{ post.text|truncatechars:15 }}</td>
									</tr>
								</tbody>            
							</table>
							<div class="btn-group" role="group">
								<a type="button d-inline" class="btn btn-light btn-outline-dark btn-md" href="{{ post.get_absolute_url }}">Подробная информация</a>
								{% if post.author.id == user.id %}
									<a type="button" class="btn btn-light btn-outline-dark btn-md" href="{% url 'office:edit_post_walking' district.slug post.id %}">Редактировать запись</a>
								{% else %}
									<span class="border border-black border-start-0 rounded-end" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Вы не автор записи!">
										<button type="button" class="btn btn-light btn-outline-dark btn-md border-0 d-inline" disabled>Редактировать запись</button>
									</span>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			{% elif request.GET %}
				<p class="text-center fs-1">
					Совпадений не найдено.
				</p>
			{% else %}
				<p class="text-center fs-1">
					Записей нет.
				</p>
			{% endif %}

		<!-- Стрелка возврата вверх -->
		<a href="#" class="scroll-to-top"><img src="{% static 'img/row_up.png' %}" alt="Scroll To Top"></a>
	</div>
	
	</div><!-- row -->
</section>

{% endblock content %}