{% extends 'base.html' %}

{% block title %} Журнал обходов тепловых сетей {% endblock title %}

{% block content %}

<br>
<h1 class="text-center fw-light">Журнал обходов тепловых сетей</h1>
<h1 class="text-center fw-medium">{{ district }}</h1>
<br>
{% if posts %}
<div class="d-grid gap-2 col-2 mx-auto">
    <a class="btn btn-outline-dark btn-lg fs-3" href="{% url 'office:create_post_walking' user.username journal.slug district.slug %}">Новая запись</a>
</div>
<div class="row justify-content-center">
    <div class="col-md-20 p-5">
      <div class="card">
        <div class="card-header fs-4">
          {% for post in posts %}
              <b>Номер записи:</b> {{ post.number_post }}
              <br>
              <b>Дата обхода:</b> {{ post.walk_date|date:"d E Y" }}
              <br>
              <b>Причина обхода:</b>
              {% if post.planned %} Плановый {% endif %}
              {% if post.not_planned %} Внеплановый {% endif %}
              <br>
              <b>Ф.И.О обходчиков:</b>
              {% for member in post.members.all %}
                  {{ member }}
                  {% if not forloop.last %} , {% endif %}
              {% endfor %}    
              <br>
              <b>Участок теплотрассы, задание мастера:</b> {{ post.task }}
              <br>      
              <b>Автор:</b> {{ post.author.get_full_name }} ({{ post.author }})
              <p>
                <a class="btn btn-outline-dark btn-sm" href="{% url 'office:post_walking_detail' user.username journal.slug district.slug post.id %} ">подробная информация </a>
              </p>
              {% if not forloop.last %} <hr> {% endif %}
          {% endfor %}
          {% else %}
          <p class="text-center fs-1">Записей нет.</p>
      {% endif %}

        </div>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 col-2 mx-auto">
    <a class="btn btn-outline-dark btn-lg fs-3" href="{% url 'office:create_post_walking' user.username journal.slug district.slug %}">Новая запись</a>
  </div>
{% endblock content %}
