@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}
/*<-------- Общие -------->*/
body {
    background-color: rgb(255, 255, 255);
    padding-top: 3.5rem;
    overflow-y: auto;   
}

.btn-dark {
    border-radius: 0;
}

.form-floating {
    margin-bottom: 0.5rem !important;
}
/*<-------- /Общие -------->*/

/* формы */
.filter-form .form-select,
.filter-form input {
    border: none;
}
.filter-form .form-select,
.filter-form input,
.filter-form button {
    border-radius: 0;
}

.form-select:focus,
.form-control:focus {
    border-color: unset;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(33,37,41,.25);
}
/* /формы */

/* tooltip */
[data-popper-placement="bottom"] {
    top: 20px !important;
}

.navbar-nav li a:hover {    
    color: #afafaf;
}

.navbar-username {
    color: #c93e3e;
    font-size: 20px;
    margin-right: 20px;
}

.nav-item {
    display: flex;
    align-items: center; 
}

.nav-link, .navbar-brand {
    color: rgb(233, 221, 221);
    font-size: 20px;
}

.navbar-brand img {
    width: 123px;
    height: 43px;
}

.img-logout,
.img-about {
    width: 30px;
    height: 30px;
}

.img-contacts {
    width: 35px;
    height: 35px;
}

.img-logout:hover,
.img-contacts:hover,
.img-about:hover {
    filter: contrast(50%);
}

/* Колокольчик уведомлений */
.img-bell img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.img-bell img:hover {
    filter: contrast(50%);
}
/* /Колокольчик уведомлений */

/* Уведомления на колокольчике */
.peending {
    position: absolute;
    border-radius: 50%;
    font-size: 13px;
    color: #ffffff;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    margin-top: -32px;
    margin-left: 10px;
    background-color: red;
}
/* /Уведомления на колокольчике */

/* Бургер кнопка */
.navbar-toggler {
    background-color: transparent;
    color: transparent;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 215, 0, 1.00)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler:focus,
.navbar-toggler:hover {
    background-color: none;
    border-color: transparent;
}
/* /Бургер кнопка */

.post-detail {
    font-size: 1.5em;
}

.center-img {
    text-align: center;
    margin-top: 5em;
}

/* Пагинация */
.pagination .page-link {
    border-radius: 0 !important;
}
.pagination .page-item:first-child .page-link {
    border-radius: 0 !important;
}
.pagination .page-item:last-child .page-link {
    border-radius: 0 !important;
}
.pagination .page-item .page-link {
    color: black;
    border-color: rgb(126, 126, 126);
}
.pagination .page-item.active .page-link {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-color: rgb(5, 5, 5);
}
.pagination li a:focus,
.pagination li a:hover,
.pagination li span:focus,
.pagination li span:hover {
    color: #000000;
    background-color: #d4d4d4;
    border-color: #000000;
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0);
}
/* /Пагинация */

/* Хлебыне крошки */
.breadcrumb li {
    padding-top: 0.5em;
    padding-left: 0.5em;
}
.breadcrumb a {
    font-weight: normal;
    text-decoration: none;
    color: #222;
    transition: color .2s linear;
}
.breadcrumb a:hover {
    color: #c93e3e;
}
/* /Хлебыне крошки */

.next-button {
    float: right;
}

.previous-button {
    float: left;
}

/* Таблица сотрудников */
.row-table-employees {
    padding: 3%;;
}
a.table-head-employees, span.table-head-employees {
    font-size: larger;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}
/* /Таблица сотрудников */

a.table-head-posts-order, span.table-head-posts-order {
    font-size: larger;
    text-decoration: none;
    color: #000000;
}

/* Кнопки */
.button {
    display: flex;
    width: 100%;
    border-radius: 8px;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    border: 1px solid;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    transition: color .4s, background-color .4s;
}
.button:hover {
    color: #ffffff;
    background-color: black;
    border-color: black;
}
a.btn.btn-lg {
    margin-bottom: 0%;
}
/* /Кнопки */

/* Ошибки при заполнении формы поста обхода */
.form-error-planned, .form-error-members {
    color: rgb(255, 0, 0);
    font-weight: bold;
    display: block;
}
/* /Ошибки при заполнении формы поста обхода */

/* Стрелка для возврата к верху страницы в журналах */
.scroll-to-top {
    position: fixed;
    bottom: 100px;
    right: 40px;
    z-index: 99;
}
.scroll-to-top img {
    width: 50px;
    height: 50px;
}
/* /Стрелка для возврата к верху страницы в журналах */

/* Иконки контактов */
i {
    font-size: 2em;
    padding-left: 1em;
    padding-right: 1em;
}
/* /Иконки контактов */

/* Карточки в index.html и cabinet.html */
.card.card-in-cabinet:hover,
.card.card-in-index:hover {
    background-color: black;
}
.card.card-in-cabinet,
.card.card-in-cabinet-disabled {
    transition: background-color .3s linear;
    height: 290;
    border-color: #000000;
}
.card.card-in-index,
.card.card-in-index-disabled {
    transition: background-color .3s linear;
    border-color: #000000;
}
.card-in-cabinet:hover img,
.card-in-index:hover img {
    filter: invert(100%);
}
.card-in-cabinet:hover h4,
.card-in-index:hover h4 {
    color: #ffffff;;
}
.card.card-in-cabinet-disabled:hover,
.card.card-in-index-disabled:hover {
    scale: 1.05;
    background-color: rgb(207, 207, 207);
}
/* /Карточки в index.html и cabinet.html */


/*<-------- brigades.html -------->*/
.section-brigades a {
    width: 200px;
}
/*<----- END brigades.html ----->*/


/*<-------- journal_walk.html -------->*/
/* Прилипание окна фильтрации в журнале обходов */
.sticky-offset {
    top: 10%;
}

.card-post-walk-in-list {
    margin-bottom: 2%;
}
.card-post-walk-in-list caption,
.card-post-walk-in-list thead {
    text-align: end;
}
.card-post-walk-in-list .border-danger {
    color: red;
    padding: 5px;
}
.card-post-walk-in-list .fs-5 {
    width: 50%;
}

/*<----- END journal_walk.html ----->*/


/*<-------- journal_order.html -------->*/
.row-table-posts-order {
    padding: 1rem;
}
.row-table-posts-order .card-header {
    text-align: center;
}
.row-table-posts-order .card-header .btn {
    font-size: larger;
}
.row-table-posts-order th{
    text-align: center;
    align-content: center;
}

.sticky-offset-table {
    top: 8%;
}
/*<----- END journal_order.html ----->*/


/*<-------- journal_repair_work.html -------->*/
.section-journal_repair_work .no-match {
    color: red;
}

.filter-journal-repair-work {
    padding-left: 2em;
}
.filter-journal-repair-work .card-header {
    text-align: center;
}
.filter-journal-repair-work .card-header .btn {
    font-size: larger;
}
.filter-journal-repair-work form .btn-outline-dark {
    font-size: 15px;
}

.card-post-repair-in-list {
    margin-bottom: 3em;
}
.card-post-repair-in-list .border-danger {
    color: red;
    padding: 5px;
}
.card-post-repair-in-list caption,
.card-post-repair-in-list thead {
    text-align: end;
}
.card-post-repair-in-list .first-row {
    width: 40%;
}
/*<----- END journal_repair_work.html ----->*/


/*<-------- post_walking_detail.html -------->*/
.post-detail .btn-back {
    margin-bottom: 10%;
}
.post-detail .prev-next-block {
    padding-bottom: 20px;
}
.post-detail caption {
    color: red;
    padding: 5px;
}
.post-detail .first-row {
    width: 40%;
}
.post-detail .next-button {
    text-align: end;
}
/*<----- END post_walking_detail.html ----->*/


/*<-------- header.html -------->*/
/*<----- END header.html ----->*/