body {
    background-color: rgb(255, 255, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 4%;
}

.navbar-nav li a:hover {    
    color: #afafaf;
}

.navbar-brand:hover {
    color: #afafaf;
}

.navbar-nav .navbar-text .navbar-username {
    color: #c93e3e;
}
.nav-link, .navbar-brand, .navbar-text {
    color: rgb(233, 221, 221);
    font-size: 1.5em;
}

.navbar-brand img {
    width: 15%;
}

.navbar-toggler {
    background-color: darkcyan;
}

.navbar-nav .nav-link.active {
    color: brown;
}

.post-detail {
    font-size: 1.5em;
}

.center-img {
    text-align: center;
    margin-top: 5em;
}

.pagination .page-item .page-link {
    color: black;
    border-color: rgb(126, 126, 126);
}

.pagination .page-item.active .page-link {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-color: rgb(5, 5, 5);
}

.pagination li a:focus,
.pagination li a:hover,
.pagination li span:focus,
.pagination li span:hover {
    color: #000000;
    background-color: #d4d4d4;
    border-color: #000000;
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0);
}

.breadcrumb li {
    padding-top: 0.5em;
    padding-left: 0.5em;
}

.breadcrumb a {
    font-weight: normal;
    text-decoration: none;
    color: #222;
}

.breadcrumb a:hover {
    font-weight: bold;
}

.next-button {
    float: right;
}

.previous-button {
    float: left;
}

.row-table-employees {
    padding: 5%;;
}

a.table-head-employees, span.table-head-employees {
    font-size: larger;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}

a.table-head-employees:hover {
    color: #000000;
    font-weight: bold;
}

a.btn.btn-lg {
    margin-bottom: 0%;
}

a.btn.btn-lg:hover,
a.btn.btn-back:hover {
    font-size: 130%;
    scale: 1.05;
}

/* Ошибка при не выборе план/внеплан обход */
.form-error-planned {
    color: red;
    font-weight: 110%;
    display: block;
}

.card-post-in-list {
    margin-bottom: 2%;
}

/* Прилипание окна фильтрации в журнале обходов */
.sticky-offset {
    top: 100px;
}