{% extends 'base.html' %}
{% load static %}

{% block title %}Помощь {% endblock title %}

{% block content %}
<section class="section-help">
	<div class="mt-5">
		<img src="{% static '/gif/HELP.gif' %}" alt="HELP.GIF" class="mx-auto d-block">
	</div>
	{% if about %}
		<div class="container mx-auto my-5">
			<div class="card shadow">
				<div class="card-body my-5 px-5" style="font-size: 20px;">
					{{ about.content|safe }}
				</div>
			</div>
		</div>
	{% endif %}
</section>
{% endblock content %}