{% load breadcrumb %}
{% get_breadcrumb as crumb %}
{% if crumb.path %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% if 'cabinet' in crumb.path %}
      <li class="breadcrumb-item"><a href="{% url 'office:index' %}">На главную</a></li>
      {% endif %}
      {% if 'journals' in crumb.path or 'brigades' in crumb.path or 'employees' in crumb.path %}
      <li class="breadcrumb-item"><a href="{% url 'office:cabinet' %}">Кабинет</a></li>
      {% endif %}
      {% if crumb.path|length > 2 and 'journals' in crumb.path%}
      <li class="breadcrumb-item"><a href="{% url 'office:journals' %}">Журналы</a></li>
      {% endif %}
      {% if crumb.kwargs.slug_district in crumb.path %}
      <li class="breadcrumb-item"><a href="{% url 'office:districts' %}">Районы</a></li>
      {% endif %}
      {% if 'create-post-walking' in crumb.path or 'edit-post-walking' in crumb.path %}
      <li class="breadcrumb-item"><a href="{% url 'office:journal_walk' crumb.kwargs.slug_district %}">Журнал обходов тепловых сетей</a></li>
      {% endif %}
      {% if 'create-post-repair' in crumb.path or 'edit-post-repair' in crumb.path %}
      <li class="breadcrumb-item"><a href="{% url 'office:journal_repair_work' %}">Журнал ремонтных работ</a></li>
      {% endif %}
      {% if 'create-post-order' in crumb.path or 'edit-post-order' in crumb.path %}
      <li class="breadcrumb-item"><a href="{% url 'office:journal_order' %}">Журнал учета работ по нарядам и распоряжениям</a></li>
      {% endif %}
    </ol>
</nav>
{% endif %}
