{% load static %}
{% with request.resolver_match.view_name as view_name %}

<header>
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'office:index' %}">
        <img src="{% static 'img/logo_face_2.png' %}" alt="logo" class="d-inline-block align-text-center">
        Кабинет мастера
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'about:help' %}active{% endif %}" href="{% url 'about:help' %}">Помощь</a> {%comment%}Если указать класс active - цвет поменяется {%endcomment%}
          </li>
          {% if user.is_active %}
          <span class="navbar-text">Пользователь: {{ user.username }}</span>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
          </li>
          {% endif %}
          {% if user.is_staff or user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="/admin">Администрирование</a>
          </li>
          {% endif %}

        </ul>
      </div>
    </div>
  </nav>

</header>
{% endwith %} 
